.investment.block{
display:grid;
grid-template-columns: 1fr 1fr;
gap:40px;
align-items:start;
}
 
/* image */
.nav-head{
grid-row: span 2;
}
 
/* title */
.investment-title{
grid-column:2;
}
 
/* items grid */
.investment-items{
display:grid;
grid-template-columns: 1fr 1fr;
gap:30px;
grid-column:2;
}
 
/* item style */
.investment-item{
display:flex;
flex-direction:column;
gap:8px;
}
 
.investment-item h3{
font-size:18px;
margin-bottom:5px;
}
 
.investment-item p{
font-size:14px;
color:#666;
}
